@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root {
    --clr-dark: #111;
    --clr-light: #eee;
    --size: 5em;
    --bg: radial-gradient(
    var(--clr-dark) 1%, #0000 5%
    );

    --ff-1: 'Poppins', sans-serif;
    --ff-2: 'lato', sans-serif;
    /* #0000 4%, #000 5%, #0000 6% */
}

body {
    height: 100vh;

    display: grid;
    grid-template-columns: auto 3fr 5fr 3fr;
    grid-template-rows: auto 4fr 4fr;
}

header#main {
    width: 100%;
    grid-column: span 3;

    display: flex;

    outline: 5px dotted limegreen;

    >.search {
        flex: 9 1;
    }
    >.options {
        outline: 5px dotted cyan;
        flex: 1 0;
        width: max-content;
        display: flex;
        >.notifications {
            aspect-ratio: 1;
            display: grid;
            place-items: center;
        }
        >.account {
            width: max-content;
            display: flex;
            >.menu {
                flex-grow: 1;
                width: max-content;
                aspect-ratio: 1;
                display: grid;
                place-items: center;
            }
            >.profile {
                aspect-ratio: 1;
                max-height: 100%;
                display: grid;
                place-items: center;
            }
        }
    }
}

.nav-icon {
    >img {
        width: 50%;
        height: 50%;
    }
}

.search > input {
    height: 5vh;
    width: 100%;
}


nav#main {
    grid-row: span 3;
}