@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Saira&display=swap') */
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap')

    /* Background */
    /* background-image: var(--bg), var(--bg), linear-gradient(45deg, deeppink, lime); */
    /* background-image: var(--bg), var(--bg) */
    /*, linear-gradient(25deg, black 40%, deeppink, black 60%)*/;
    /* background-position: 0 0, calc(var(--size) / 2) calc(var(--size) / 2); */
    /* background-size: var(--size) var(--size), var(--size) var(--size), contain; */

html {
    /* --x: 1px; */
}

:root {
    --clr-dark: #111;
    --clr-gray: #999;
    --clr-light: #eee;
    --clr-dark-gray: #444;
    --size: 7rem;
    /* --bg-clr: #222; */
    --bg: radial-gradient(
        var(--clr-dark) 1%, #0000 5%
    );
    --ff-1: 'Poppins', sans-serif;
    --ff-2: 'Lato', sans-serif;


    --gap: 3rem;

    --mesh-gradient: radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
                    radial-gradient(at 100% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
                    radial-gradient(at 0% 50%, hsla(300,100%,59%,1) 0px, transparent 50%),
                    radial-gradient(at 48% 63%, hsla(340,100%,76%,1) 0px, transparent 50%),
                    radial-gradient(at 0% 100%, deeppink 0px, transparent 50%),
                    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
                    radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}

body {

    font-family: var(--ff-1), sans-serif;
    padding: 1.25rem;
    /* overflow: hidden; */
    height: 100vh;
    display: flex;
    gap: var(--gap);
    /* background-color: #fff; */
    /* background-image: var(--mesh-gradient); */
    /* background-blend-mode: darken; */
    /* background: var(--bg), var(--bg);
    background-size: var(--size) var(--size);
    background-position: 0 0, calc(var(--size) / 2) calc(var(--size) / 2); */
    /* font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 128; */
}

body > nav {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: stretch; */
    text-align: center;
    width: clamp(3rem, 6vh + 2rem, 10rem);
    font-size: 2rem;
    border-radius: 1rem;
    background: var(--clr-dark);
    padding: 1.5rem 0;
    color: var(--clr-light);
    > .items > ul {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        /* background: purple; */
        > li {
            flex-grow: 1;
            width: 100%;
            height: 100%;
            position: relative;
            > a {
                
                /* background: red; */
                display: inline-block;
                width: 100%;
                height: 100%;
                padding: 1rem 0;
                font-size: 2rem;
                /* z-index: 17; */
                /* transition: 300ms; */
                &:hover {
                    background-color: var(--clr-dark-gray);
                    &::before,
                    &::after {
                        /* display: none; */
                        opacity: 1;
                    }
                }
                &::before,
                &::after {
                    /* display: none; */
                    content: "";
                    position: absolute;
                    left: 0;
                    height: 75%;
                    background-color: transparent;
                    width: 100%;
                    /* transition: 300ms; */
                    opacity: 0;
                    
                }
                &::before {
                    
                    bottom: -75%;
                    border-radius: 15px 15px 0 0 ;
                    box-shadow: 0 -10px 0 0 var(--clr-dark-gray);
                    /* opacity: 0; */
                }
                &::after {
                    top: -75%;
                    border-radius: 0 0 15px 15px;
                    box-shadow: 0 10px 0 0 var(--clr-dark-gray);
                    /* opacity: 0; */
                }
            }
        }
    }
}

body > main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: 1.5rem 0;
    > .search {
        box-sizing: content-box;
        /* background: lime; */
        display: flex;
        min-height: max-content;
        height: 5vh;
        /* box-shadow: 5px 5px 5px #0008; */
        padding: .5em 1em;
        border-radius: 3rem;
        transition: 300ms;
        &:has(input:focus) {
            transform: translate(-5px, -5px);
            box-shadow: 15px 15px 15px #0008;
        }
        
        > input {
            flex-grow: 1;
        }
        > span {
            display: grid;
            place-items: center;
            /* display: inline-block; */
            aspect-ratio: 1;
            height: 100%;
            border-radius: 50%;
        }
        > .options {
            display: flex;
            background: #0002;
            padding: .2em;
            border-radius: 100vh; /* ale ja tego ne lubie */
            >span, >div {
                display: grid;
                place-items: center;
                aspect-ratio: 1;
                height: 100%;
                border-radius: 50%;
                > img {
                    height: 30%;
                }
            }
            >div {
                background: #0002;
            }
        }
    }
    > .sections {
        flex-grow: 1;
        
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }
}


.sections > section {
    /* background: linear-gradient(45deg, red, blue); */
    flex-grow: 1;
    
    display: flex;
    gap: var(--gap);
    > .stats {
        /* flex-grow: 1; */
        /* background: cyan; */
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        /* padding: 1em; */
        > div {
            /* box-sizing: border-box; */
            padding: 0 3rem 0 1rem;
            flex-grow: 1;
            outline: 3px solid #0002;
            border-radius: 2em;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            transition: 300ms;
            &:hover {
                transform: translate(-5px, -5px);
                box-shadow: 5px 5px 15px #0008;

            }
            > .details {
                /* background: lime; */
                /* flex-grow: 1; */
                display: flex;
                align-items: center;
                gap: 1rem;
                /* justify-content: space-between; */
                > div {
                    background: #0002;
                    border-radius: 420vh; /* nie lubie tego tak straszliwie!!!*/
                    padding: .5rem;
                    gap: .5em;
                    display: flex;
                    align-items: center;
                    >.change {
                        font-weight: bold;
                    }
                }
            }
            > .number {
                /* flex-grow: 1; */
                font-size: 3rem;
            }
        }
    }
    > .episode {
        background: url('https://picsum.photos/seed/moge_tu_wpisać_coś_fajnego_lub_smiesznego_ale_nie_mam_pomysłu_przepraszam_ale_jestem_porazka_i_to_sie_chyba_nie_zmieni_pisze_to_i_szukam_fajnego_obrazka_jakiegoś_ale_nie_widze_nic_:)_cześć_adrian_czy_ktokolwiek_inny_kto_na_to_patrzy_js > ts_haha/1600/400');
        background-size: cover;
        flex-grow: 4;
        border-radius: 2rem;
        padding: 2rem;

        display: flex;
        flex-direction: column;
        gap: var(--gap);
        >.title-lg {
            font-weight: bold;
            /* background-blend-mode: ; */
            color: var(--clr-light);
            mix-blend-mode: exclusion;
        }
        >.subtext {
            font-size: 1em;
            /* text-shadow: .1em .1em #000; */
            /* background: #000;
            width: max-content;
            padding: 0.25em;
            border-radius: .5em;
            background-blend-mode: difference; */
            /* mix-blend-mode: difference; */
        }
        >a {
            margin-top: auto;
            width: max-content;
            padding: 1em 2em;
        }
    } 
}

/* Sect2 */

.performance {
    flex-grow: 4;

    display: flex;
    flex-direction: column;
    >.graph-wrapper {
        flex-grow: 1;
        /* background: cyan; */

        display: flex;
        >.measure-y {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        >.graph {
            flex-grow: 1;
            /* background: red; */
            /* background: repeating-linear-gradient(
                to bottom,
                #f0f 100%,
                #00f 125%,
                #0f0f 125%
            ); */
            >ul{
                height: 100%;
                padding-left: calc(var(--gap));
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                /* background: repeating-linear-gradient(to bottom, transparent, transparent 95%, #ccc 95%, #ccc 100%); */
                /* background-size: 100% 15%; */
                >li {

                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    /* justify-content: center; */
                    gap: .5rem;
                    position: relative;
                    &::before {
                        content: 'Nie no ale to jest beznadziejne, te burgery banalne w porównaniu z tym, mi sie nie chce robić js ktory to bedzie ogarniał';
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--clr-light);
                        position: absolute;
                        width: 200%;
                        aspect-ratio: 2/1;
                        background: var(--clr-dark);
                        top: 0;
                        transform: translateY(-120%);
                        border-radius: 1rem;
                        opacity: 0;
                        transition: 300ms;
                    }
                    &:hover {
                        &::before, &::after {
                            opacity: 1;
                        }
                    }
                    > .block-top {
                        opacity: .25;
                    }
                    >div {
                        /* min-width: ; */
                        
                        width: 80%;
                        width: clamp(80px, 80%, 100px);
                        flex-grow: 1;
                        border-radius: 1rem;
                        /* background: #f0a !important; */
                        /* outline: 1px solid lime; */
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

/* :( */
.graph > ul > li {
    /* outline: 1px solid; */
    /* background: lime; */
    /* min-width: 5%; */
    /* width: max-content; */
    width: 7%;

    &:nth-child(1) {
        height: 95%;
    }
    &:nth-child(2) {
        height: 74%;
    }
    &:nth-child(3) {
        height: 62%;
    }
    &:nth-child(4) {
        height: 54%;
    }
    &:nth-child(5) {
        height: 42%;
    }

}

.people {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    > nav {
        display: flex;
        gap: 1rem;
        > button {
            font-family: var(--ff-1);
            font-size: .75rem;
            padding: 1em 2em;
            border-radius: 2em;
            color: var(--clr-gray);
            /* font-weight: 700; */
            &.active {
                background: var(--clr-dark);
                color: var(--clr-light);
            }
        }
    }
    > ul {
        flex-grow: 1;
        padding: 1rem 0;
        flex-direction: column;
        display: flex;
        justify-content: space-around;

        a:hover {
            text-decoration: underline;
        }
        > li {
            /* flex-grow: 1; */
            /* padding: .5rem; */
            display: flex;
            align-items: center;
            gap: calc(var(--gap) / 2);
            >.info {
                display: flex;
                flex-direction: column;
            }
            >.date {
                /* justify-self: flex-end; */
                margin-left: auto;
            }
        }
    }
}
