@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root {
    --clr-dark: #111;
    --clr-light: #eee;
    --clr-gray: #aaa;
    --size: 7rem;
    --bg-clr: #111;
    --bg: radial-gradient(
        /* var(--bg-clr) 6%, #0000 7%, */
        #0000 47%, var(--bg-clr) 47%, var(--bg-clr) 51%, #0000 50%
    );

    --ff-1: 'Poppins', sans-serif;
    --ff-2: 'Lato', sans-serif;
}

body {
    display: flex;
    padding: 1.5rem;
    align-content: stretch;
    height: 100vh;

    /* Background */
    background-image: var(--bg), var(--bg), linear-gradient(45deg, deeppink, indigo);
    background-position: 0 0, calc(var(--size) / 2) calc(var(--size) / 2);
    background-size: var(--size) var(--size), var(--size) var(--size), contain;
}

body > nav {
    /* background: red; */
}

body > main {
    flex-grow: 1;
    /* background: lime; */
}

.material-symbols-rounded {
    color: red;
}