@media (max-width: 1300px) {
    :root {
        --gap: 1.5rem;
    }
    main > section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        > .stats {

        }
        > .episode {
            order: -2137;
        }
        > .performance {
            order: 2137;

        }
        > .people {

        }
    }
    .performance > div > div > ul {
        justify-content: space-around;
        > li > div {
            max-width: 100%;
        }
    }
}